@model BorrowLogViewModel
@{
    ViewBag.Title = ViewBag.Action + " Checkout";
}
<h2>@ViewBag.Title</h2>

<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="@ViewBag.Action" method="post">
    <div class="form-group">
        <label asp-for="log.DiskId">Disk</label>
        <select asp-for="log.DiskId">
            <option value="">Select a Disk</option>
            @foreach (Disk disk in Model.Disks)
            {
                <option value="@disk.DiskId">@disk.DiskName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="log.BorrowerId">Borrower</label>
        <select asp-for="log.BorrowerId">
            <option value="">Select a Borrower</option>
            @foreach (Borrower borrower in Model.Borrowers)
            {
                <option value="@borrower.BorrowerId">@borrower.FirstName @borrower.LastName</option>
            }
        </select>
    </div>
    <div>
        <label asp-for="log.BorrowedDate">Borrow Date</label>
        <input asp-for="log.BorrowedDate" class="form-control" type="date"/>
    </div>
    <div>
        <label asp-for="log.ReturnedDate">Return Date</label>
        <input asp-for="log.ReturnedDate" class="form-control" type="date"/>
    </div>
    <input type="hidden" asp-for="@Model.log.DiskLogId" /> <br />
    <div>
        <Button type="submit" class="btn btn-primary">@ViewBag.Action</Button>
                <a asp-controller="BorrowLog" asp-action="Index" class="btn btn-primary">Cancel</a>
    </div>
</form>