@model Disk
@{
    ViewBag.Title = ViewBag.Action + " Disk";
}
<h2>@ViewBag.Title</h2>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="DiskName">Disk Name</label>
        <input asp-for="DiskName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ReleaseDate">Release Date</label>
        <input asp-for="ReleaseDate" type="date" class="form-control" />
            
    </div>
    <div>
        <label asp-for="GenreId">Genre</label>
        <select asp-for="GenreId" class="form-control">
            <option value="">Select a Genre</option>
            @foreach (Genre g in ViewBag.Genres)
            {
                <option value="@g.GenreId">@g.GenreName</option>
            }
        </select>
    </div>
    <div>
        <label asp-for="StatusId">Status</label>
        <select asp-for="StatusId" class="form-control">
            <option value="">Select a Status</option>
            @foreach (Status s in ViewBag.Statuses)
            {
                <option value="@s.StatusId">@s.Description</option>
            }
        </select>
    </div>
    <div>
        <label asp-for="DiskTypeId">Disk Type</label>
        <select asp-for="DiskTypeId" class="form-control">
            <option value="">Select a Disk Type</option>
            @foreach (DiskType d in ViewBag.DiskTypes)
            {
                <option value="@d.DiskTypeId">@d.TypeName</option>
            }
        </select>
    </div>
    <input type="hidden" asp-for="@Model.DiskId" />
    <div>
        <a asp-controller="Disk" asp-action="Index" class="btn btn-primary">Cancel</a>
        <Button type="submit" class="btn btn-primary">@ViewBag.Action</Button>
    </div>
</form>